@model sistema_reconocimiento.Models.Engineers;
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Agregar Ingeniero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-content content">
    <div class="card-body">
        <div class="col-md-6" style="float:none;margin:auto;">
            <div class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Complete la siguiente información</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Agregar_ingeniero", "Main", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                     {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (TempData["msg"] != null)
                        {
                                    <div class="msg">
                                        <span class="text-danger">@TempData["msg"]</span>
                                    </div>
                        }                        
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-name">Nombre</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-name" class="input-group-text">
                                    <i class="bx bx-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Name_Engineer, new { @class = "form-control", placeholder = "Nombre", id="basic-icon-default-name"})
                                @Html.ValidationMessageFor(m => m.Name_Engineer,"", new { @class = "text-danger" })
                          
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-lastname">Apellido</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-lastname" class="input-group-text">
                                    <i class="bx bx-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.LastName_Engineer, new { @class = "form-control", placeholder = "Nombre", id="basic-icon-default-name"})
                                @Html.ValidationMessageFor(m => m.LastName_Engineer, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-email">Email</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                @Html.TextBoxFor(m => m.ApplicationUser.Email, new { @class = "form-control", placeholder = "Email", id="basic-icon-default-name"})
                                @Html.ValidationMessageFor(m => m.ApplicationUser.Email, "", new { @class = "text-danger" }) <span id="basic-icon-default-email2" class="input-group-text">tek-experts.com</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-password12">Password</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                @Html.TextBoxFor(m => m.ApplicationUser.PasswordHash, new { @class = "form-control", placeholder = "Password", id="basic-icon-default-name"})
                                @Html.ValidationMessageFor(m => m.ApplicationUser.PasswordHash, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    Posición
                                    <i class="bx bx-buildings"></i>
                                </label>
                                <select asp-for="Position" class ="form-control" asp-items="ViewBag.Position"></select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    Rol del usuario
                                    <i class="bx bx-buildings"></i>
                                </label>
                                   <select class="form-select" id="inputGroupSelect01">
                                   <option selected>Seleccionar...</option>
                                   <option value="1">Usuario Común</option>
                                   <option value="2">Administrador</option>
                                   </select>
                          
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    Manager
                                    <i class="bx bx-buildings"></i>
                                </label>
                                <select asp-for="ID_Manager" class ="form-control" asp-items="ViewBag.ID_Manager"></select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Crear cuenta</button>
                      }
                      <!-- </form>  -->
                </div>
            </div>
        </div>
    </div>
</div>