@model sistema_reconocimiento.Models.Engineers;
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Agregar Ingeniero";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int points = ViewBag.GetPoints;
}
<div class="app-content content">
    <div class="card-body">
        <div class="col-md-6" style="float:none;margin:auto;">
            <div class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Add engineer</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Agregar_ingeniero", "Main", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mb-3">
                            <div class="input-group"
                                 data-toggle="tooltip"
                                 data-placement="top"
                                 title="The name of the engineer should be between 2 and 30 characters long">
                                <span id="basic-icon-default-lastname" class="input-group-text">
                                    <label class="form-label" for="basic-icon-default-name">
                                        Name
                                    <i class="bx bx-user"></i>
                                    </label>
                                </span>
                                @Html.TextBoxFor(m => m.Name_Engineer, new { @class = "form-control", placeholder = "Name", id="basic-icon-default-name"})
                            </div>
                            <span class="text-danger">@TempData["msgName_Engineer"]</span>
                        </div>
                        <div class="mb-3">
                            <div class="input-group" 
                                 data-toggle="tooltip"
                                 data-placement="top"
                                 title="The last name of the engineer should be between 2 and 30 characters long">
                                <span id="basic-icon-default-lastname" class="input-group-text">
                                    <label class="form-label" for="basic-icon-default-lastname">
                                        Last name
                                        <i class="bx bx-user"></i>
                                    </label>   
                                </span>
                                @Html.TextBoxFor(m => m.LastName_Engineer, new { @class = "form-control", placeholder = "Last name", id="basic-icon-default-name"})
                             </div>
                            <span class="text-danger">@TempData["msgLastName_Engineer"]</span>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <span id="basic-icon-default-lastname" class="input-group-text">
                                    <label class="form-label" for="basic-icon-default-email">
                                        Email
                                        <i class="bx bx-envelope"></i>
                                    </label>
                                </span>
                                <input type="text" class="form-control" placeholder="Email"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Allowed domain: tek-experts.com"
                                id="basic-icon-default-name" name="Email">
                            </div>
                            <span class="text-danger">@TempData["msgEmail"]</span>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                            <span id="basic-icon-default-lastname" class="input-group-text">
                                <label class="form-label" for="basic-default-password12">
                                    Password
                                <i class="bx bx-lock"></i>
                                </label>
                                </span>
                                <input type="password" class="form-control" placeholder="Password" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="Needs to be at least 6 characters and you need to use a Capital letter, a lowercase, a symbol and a number" 
                                id="basic-icon-default-name" name="Password">
                            </div>
                            <span class="text-danger">@TempData["msgPassword"]</span>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <span id="basic-icon-default-lastname" class="input-group-text">
                                    <label class="form-label" for="basic-default-password12">
                                        Confirm Password
                                        <i class="bx bx-lock"></i>
                                    </label>
                                </span>
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Needs to be at least 6 characters and you need to use a Capital letter, a lowercase, a symbol and a number"
                                id="basic-icon-default-name" name="ConfirmPassword">
                            </div>
                            <span class="text-danger">@TempData["msgPasswordC"]</span>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    Position
                                    <i class="bx bx-buildings"></i>
                                </label>
                                <select asp-for="Position" class="form-control" asp-items="ViewBag.Position"></select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    User role
                                    <i class="bx bx-buildings"></i>
                                </label>
                                <select class="form-select" id="inputGroupSelect01" name="UserRole">
                                    <option value="common">Common</option>
                                    <option value="admin">Administrator</option>
                                </select>
                            </div>
                            <span class="text-danger">@TempData["msgRole"]</span>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    Manager
                                    <i class="bx bx-buildings"></i>
                                </label>
                                <select asp-for="ID_Manager" class="form-control" asp-items="ViewBag.ID_Manager"></select>
                            </div>
                            <span class="text-danger">@TempData["msgManager"]</span>
                        </div>
                        <a class="btn btn-danger" asp-controller="Main" asp-action="Ingenieros">Return</a>
                        <button type="submit" class="btn btn-primary">Create account</button>
                    }
                    <!-- </form>  -->
                </div>
            </div>
        </div>
    </div>
</div>