@model sistema_reconocimiento.Models.Engineers;
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Agregar Ingeniero";
    Layout = "~/Views/Shared/_Layout.cshtml";
<<<<<<< HEAD
    int points = ViewBag.GetPoints;
=======
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
}
<div class="app-content content">
    <div class="card-body">
        <div class="col-md-6" style="float:none;margin:auto;">
            <div class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Complete la siguiente información</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Agregar_ingeniero", "Main", FormMethod.Post, new { @class = "form-signin", role = "form" }))
<<<<<<< HEAD
                    {
=======
                     {
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (TempData["msg"] != null)
                        {
<<<<<<< HEAD
                            <div class="msg">
                                <span class="text-danger">@TempData["msg"]</span>
                            </div>
                        }
=======
                                    <div class="msg">
                                        <span class="text-danger">@TempData["msg"]</span>
                                    </div>
                        }                        
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-name">Nombre</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-name" class="input-group-text">
                                    <i class="bx bx-user"></i>
                                </span>
<<<<<<< HEAD
                                @Html.TextBoxFor(m => m.Name_Engineer, new { @class = "form-control", placeholder = "Nombre", id="basic-icon-default-name"/*,required = "required", maxlength = "30",minlength = "3"*/})
=======
                                @Html.TextBoxFor(m => m.Name_Engineer, new { @class = "form-control", placeholder = "Nombre", id="basic-icon-default-name"})
                                @Html.ValidationMessageFor(m => m.Name_Engineer,"", new { @class = "text-danger" })
                          
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-lastname">Apellido</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-lastname" class="input-group-text">
                                    <i class="bx bx-user"></i>
                                </span>
<<<<<<< HEAD
                                @Html.TextBoxFor(m => m.LastName_Engineer, new { @class = "form-control", placeholder = "Apellido", id="basic-icon-default-name"})
=======
                                @Html.TextBoxFor(m => m.LastName_Engineer, new { @class = "form-control", placeholder = "Nombre", id="basic-icon-default-name"})
                                @Html.ValidationMessageFor(m => m.LastName_Engineer, "", new { @class = "text-danger" })
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-email">Email</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
<<<<<<< HEAD
                                <input type="text" class="form-control" placeholder="Email" id="basic-icon-default-name" name="EmailA">
                                <span class="text-danger" id="email-validation-message"></span>
                                <span id="basic-icon-default-email2" class="input-group-text">tek-experts.com</span>
=======
                                @Html.TextBoxFor(m => m.ApplicationUser.Email, new { @class = "form-control", placeholder = "Email", id="basic-icon-default-name"})
                                @Html.ValidationMessageFor(m => m.ApplicationUser.Email, "", new { @class = "text-danger" }) <span id="basic-icon-default-email2" class="input-group-text">tek-experts.com</span>
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                            </div>
                            @Html.ValidationMessage("EmailA", "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-password12">Password</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
<<<<<<< HEAD
                                <input type="password" class="form-control" placeholder="Password" id="basic-icon-default-name" name="PasswordA">
                                <span class="text-danger" id="password-validation-message"></span>
=======
                                @Html.TextBoxFor(m => m.ApplicationUser.PasswordHash, new { @class = "form-control", placeholder = "Password", id="basic-icon-default-name"})
                                @Html.ValidationMessageFor(m => m.ApplicationUser.PasswordHash, "", new { @class = "text-danger" })
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                            </div>
                            @Html.ValidationMessage("PasswordA", "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    Posición
                                    <i class="bx bx-buildings"></i>
                                </label>
<<<<<<< HEAD
                                <select asp-for="Position" class="form-control" asp-items="ViewBag.Position"></select>
=======
                                <select asp-for="Position" class ="form-control" asp-items="ViewBag.Position"></select>
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                            </div>
                            @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    Rol del usuario
                                    <i class="bx bx-buildings"></i>
                                </label>
<<<<<<< HEAD
                                <select class="form-select" id="inputGroupSelect01" name="UserRole">
                                    <option selected>Seleccionar...</option>
                                    <option value="comun">Common</option>
                                    <option value="admin">Administrator</option>
                                </select>
                                @Html.ValidationMessage("UserRole", "", new { @class = "text-danger" })
=======
                                   <select class="form-select" id="inputGroupSelect01">
                                   <option selected>Seleccionar...</option>
                                   <option value="1">Usuario Común</option>
                                   <option value="2">Administrador</option>
                                   </select>
                          
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    Manager
                                    <i class="bx bx-buildings"></i>
                                </label>
<<<<<<< HEAD
                                <select asp-for="ID_Manager" class="form-control" asp-items="ViewBag.ID_Manager"></select>
=======
                                <select asp-for="ID_Manager" class ="form-control" asp-items="ViewBag.ID_Manager"></select>
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                            </div>
                            @Html.ValidationMessageFor(m => m.ID_Manager, "", new { @class = "text-danger" })
                        </div>
<<<<<<< HEAD
                        <a class="btn btn-danger" asp-controller="Main" asp-action="Ingenieros">Regresar</a>
                        <button type="submit" class="btn btn-primary">Crear cuenta</button>
                    }
                    <!-- </form>  -->
=======
                        <button type="submit" class="btn btn-primary">Crear cuenta</button>
                      }
                      <!-- </form>  -->
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
                </div>
            </div>
        </div>
    </div>
</div>