@model sistema_reconocimiento.Models.Engineers

@{
    ViewData["Title"] = "Editar ingeniero";
    Layout = "~/Views/Shared/_Layout.cshtml";
<<<<<<< HEAD
    int points = ViewBag.GetPoints;
=======
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
}
<div class="app-content content">
    <div class="content-wrapper">
        <h4 class="fw-bold py-3"><span class="text-muted fw-light">Engineers/</span>Update information</h4>
        <div class="row">
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="card mb-2">
                                <h5 class="mb-0">Complete the following information</h5>
                                <div class="card-body">
                                    <form asp-action="Editar_ingeniero">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="ID_Engineer" />
                                        <input type="hidden" asp-for="ID_Account" />
                                        <div class="mb-3">
                                            <label class="form-label" for="basic-icon-default-name">Name</label>
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-name" class="input-group-text">
                                                    <i class="bx bx-user"></i>
                                                </span>
                                                @if (TempData["msg"] != null)
                                                {
                                                    <div class="msg">
                                                        <span class="text-danger">@TempData["msg"]</span>
                                                    </div>
                                                }
                                                <input asp-for="Name_Engineer"
                                                       type="text"
                                                       class="form-control"
                                                       id="basic-icon-default-name" />
                                                @Html.ValidationMessageFor(m => m.Name_Engineer,"", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="basic-icon-default-lastname">Last Name</label>
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-lastname" class="input-group-text">
                                                    <i class="bx bx-user"></i>
                                                </span>
                                                <input asp-for="LastName_Engineer"
                                                       type="text"
                                                       class="form-control"
                                                       id="basic-icon-default-lastname" />
                                                @Html.ValidationMessageFor(m => m.LastName_Engineer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="basic-icon-default-email">Email</label>
                                            <div class="input-group input-group-merge">
                                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                                <input type="text"
                                                       id="basic-icon-default-email"
                                                       class="form-control"
                                                       value="@ViewData["Email"]" name="EmailM" />
                                                <span id="basic-icon-default-email2" class="input-group-text">tek-experts.com</span>
                                            </div>
                                            @Html.ValidationMessage("EmailM", "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="basic-default-password12">Password</label>
                                            <div class="input-group input-group-merge">
                                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                                <input type="password"
                                                       class="form-control"
                                                       id="basic-default-password12"
                                                       aria-describedby="basic-default-password2" name="PassM" />
                                            </div>
                                            @Html.ValidationMessage("PassM", "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <label class="input-group-text" asp-for="Position">
                                                    Position
                                                    <i class="bx bx-buildings"></i>
                                                </label>
                                                <select asp-for="Position" class="form-select" asp-items="ViewBag.Position"></select>
                                                <span asp-validation-for="Position" class="text-danger"></span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <label class="input-group-text" for="inputGroupSelect01">
                                                    User role
                                                    <i class="bx bx-buildings"></i>
                                                </label>
                                                <select class="form-select" id="inputGroupSelect01" name="UserRoleM" required>
                                                    <option selected>Seleccionar...</option>
                                                    <option value="comun">Commn</option>
                                                    <option value="admin">Administrator</option>
                                                </select>
                                                @Html.ValidationMessage("UserRoleM", "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <label class="input-group-text" for="inputGroupSelect01">
                                                    Manager
                                                    <i class="bx bx-buildings"></i>
                                                </label>
                                                <select asp-for="ID_Manager" class="form-select" asp-items="ViewBag.ID_Manager" id="inputGroupSelectManager"></select>
                                                <span asp-validation-for="ID_Manager" class="text-danger"></span>
                                            </div>
                                        </div>
                                        </br>
                                        <a class="btn btn-danger" asp-controller="Main" asp-action="Ingenieros">Return</a>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Current information</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-name">Name</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-name" class="input-group-text">
                                        <i class="bx bx-user"></i>
                                    </span>
                                    <input asp-for="Name_Engineer"
                                           type="text"
                                           class="form-control"
                                           id="basic-icon-default-name"
                                           readonly />

                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-lastname">Last Name</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-lastname" class="input-group-text">
                                        <i class="bx bx-user"></i>
                                    </span>
                                    <input asp-for="LastName_Engineer"
                                           type="text"
                                           class="form-control"
                                           id="basic-icon-default-lastname"
                                           readonly />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-email">Email</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                    <input type="text"
                                           id="basic-icon-default-email"
                                           class="form-control"
                                           value="@ViewData["Email"]" readonly />
                                    <span id="basic-icon-default-email2" class="input-group-text">tek-experts.com</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-password12">Password</label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                    <input type="password"
                                           class="form-control"
                                           id="basic-default-password12"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="basic-default-password2" readonly />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" asp-for="Position" readonly>
                                        Position
                                        <i class="bx bx-buildings"></i>
                                    </label>
                                    <select asp-for="Position" class="form-select" asp-items="ViewBag.Position" readonly disabled></select>
                                    <span asp-validation-for="Position" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">
                                        User Role
                                        <i class="bx bx-buildings"></i>
                                    </label>
                                    <select class="form-select" id="inputGroupSelect01" readonly disabled>
                                        <option selected>Select...</option>
                                        <option value="1" selected>@ViewData["Rol"]</option>
                                        <option value="2">Administrator</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01" readonly disabled>
                                        Manager
                                        <i class="bx bx-buildings"></i>
                                    </label>
                                    <select asp-for="ID_Manager" class="form-select" asp-items="ViewBag.ID_Manager" id="inputGroupSelectManager" readonly disabled></select>
                                    <span asp-validation-for="ID_Manager" class="text-danger"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>