@model IEnumerable<sistema_reconocimiento.Models.Recognitions>

@{
    ViewData["Title"] = "Mis Reconocimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
<<<<<<< HEAD
    int points = ViewBag.GetPoints;
    int ID_Engineer = ViewBag.GetIdEngineer;
=======
>>>>>>> 996bfd33ae1f3c389c05516131f52ce72c62ba76
}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">My history</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Principal</a>
                            </li>
                            <li class="breadcrumb-item active">My recognitions history</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="card-body">
                <div class="row">
                    <!-- Custom content with heading -->
                    <div class="col-lg-6">
                        <div class="demo-inline-spacing mt-2">
                            <div class="list-group">
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <h3 class="content-header-right">When I recognized someone</h3>
                                </a>
                                @foreach (var item in Model)
                                {
                                    if (item.Petitioner_Eng == (int?)ViewData["Login"] && (item.Recognition_State == "Approved" || item.Recognition_State == "Rejected"))
                                    {
                                        <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex justify-content-between w-100">
                                                <p class="mb-1">
                                                    "@Html.DisplayFor(modelItem => item.Comment)"
                                                </p>
                                                <small>Sent by: @ViewData[$"RecognizedEngineerName_{item.ID_Recognition}"]</small>
                                                <small>Date: @item.Recognition_Date.ToString("dd/MMM/yyyy")</small>
                                                <small>State: @Html.DisplayFor(modelItem => item.Recognition_State)</small>
                                            </div>
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Custom content with heading -->
                    <div class="col-lg-6">
                        <div class="demo-inline-spacing mt-2">
                            <div class="list-group">
                                <a href="" class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <h3 class="content-header-right">When I was recognized by someone</h3>
                                </a>
                                @foreach (var item in Model)
                                {
                                    if (item.Recognized_Eng == (int?)ViewData["Login"] && (item.Recognition_State == "Approved" || item.Recognition_State == "Rejected"))
                                    {
                                        <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex justify-content-between w-100">
                                                <p class="mb-1">
                                                    "@Html.DisplayFor(modelItem => item.Comment)"
                                                </p>
                                                <small>Sent by: @ViewData[$"PetitionerEngineerName_{item.ID_Recognition}"]</small>
                                                <small>Date: @item.Recognition_Date.ToString("dd/MMM/yyyy")</small>
                                                <small>State: @Html.DisplayFor(modelItem => item.Recognition_State)</small>
                                            </div>
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>