@model sistema_reconocimiento.Models.SubmitStateRecognition
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Reconocimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pointsR = ViewBag.GetPointsRecognized;
    int ID_Engineer = ViewBag.GetIdEngineer;
}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Reconocimientos</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Principal</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Reconocimientos
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Table reconocimientos pendings -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="navbar-nav align-items-center">
                                <h3 class="content-header-right">Pending Recognitions</h3>
                            </div>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <!-- Search -->
                                        <div class="navbar-nav align-items-center">
                                            <div class="nav-item d-flex align-items-center">
                                                <i class="bx bx-search fs-4 lh-0"></i>
                                                <input type="text"
                                                       class="form-control border-0 shadow-none"
                                                       placeholder="Buscar"
                                                       aria-label="Buscar" />
                                            </div>
                                        </div>
                                        <!-- /Search -->
                                    </li>
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th scope="col">ID Recognition</th>
                                            <th scope="col">Case number</th>
                                            <th scope="col">Petitioner Engineer</th>
                                            <th scope="col">Recognized Engineer</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Comments</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.RecognitionsP)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.ID_Recognition)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Case_Number)</td>
                                                <td>@Html.DisplayFor(modelItem => item.PetitionerEngineer.Name_Engineer)  @Html.DisplayFor(modelItem => item.PetitionerEngineer.LastName_Engineer)</td>
                                                <td>@Html.DisplayFor(modelItem => item.RecognizedEngineer.Name_Engineer)  @Html.DisplayFor(modelItem => item.RecognizedEngineer.LastName_Engineer)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Recognition_State)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Comment)</td>
                                                <td>
                                                    @using (Html.BeginForm("Aprobar_Reconocimiento", "Main", FormMethod.Post, new { @class = "submit-approval", role = "form" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        <input asp-for="RecognitionsPOST.ID_Recognition" class="form-control hidden disabled" value="@item.ID_Recognition" />
                                                        <input asp-for="RecognitionsPOST.Petitioner_Eng" class="form-control hidden disabled" value="@item.Petitioner_Eng" />
                                                        <input asp-for="RecognitionsPOST.Recognized_Eng" class="form-control hidden disabled" value="@item.Recognized_Eng" />
                                                        <input asp-for="RecognitionsPOST.ID_EngineerRec" class="form-control hidden disabled" value="@item.Recognized_Eng" />
                                                        <input asp-for="RecognitionsPOST.Points_EngineerRec" class="form-control hidden disabled" value="@pointsR" />
                                                        <div class="navbar-nav align-items-center">
                                                            <button type="submit" class="btn btn-danger"><i class="fas fa-check"></i></button>
                                                        </div>
                                                    }
                                                    @using (Html.BeginForm("Rechazar_Reconocimiento", "Main", FormMethod.Post, new { @class = "submit-rejection", role = "form" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        <input asp-for="RecognitionsPOST.ID_Recognition" class="form-control hidden disabled" value="@item.ID_Recognition" />
                                                        <input asp-for="RecognitionsPOST.Petitioner_Eng" class="form-control hidden disabled" value="@item.Petitioner_Eng" />
                                                        <input asp-for="RecognitionsPOST.Recognized_Eng" class="form-control hidden disabled" value="@item.Recognized_Eng" />
                                                        <div class="navbar-nav align-items-center">
                                                            <button type="submit" class="btn btn-danger"><i class="fas fa-cancel"></i></button>
                                                        </div>
                                                    }
@*                                                    <a class="btn btn-danger" href=""><i class="fas fa-check"></i></a>
                                                    <a class="btn btn-danger" href=""><i class="fas fa-cancel"></i></a>
                                                    <a class="btn btn-danger" href=""><i class="fas fa-trash"></i></a>*@
                                                </td>
                                            </tr>
                                        }
                                </table>
                                @Html.Pager(Model.RecognitionsP, page => Url.Action("Reconocimientos", new
                                {
                                    page = page,
                                    result = result,
                                    modelE = modelE
                                }), new PagerOptions { LiElementClasses = new[] { "page-item" }, LinkClasses = new[] { "page-link" } })
                      </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table Historial de reconocimientos -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="navbar-nav align-items-center">
                                <h3 class="content-header-left">Recognitions History</h3>
                            </div>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <!-- Search -->
                                        <div class="navbar-nav align-items-center">
                                            <div class="nav-item d-flex align-items-center">
                                                <i class="bx bx-search fs-4 lh-0"></i>
                                                <input type="text"
                                                       class="form-control border-0 shadow-none"
                                                       placeholder="Buscar"
                                                       aria-label="Buscar" />
                                            </div>
                                        </div>
                                        <!-- /Search -->
                                    </li>
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                            </div>
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th scope="col">ID Recognition</th>
                                            <th scope="col">Case number</th>
                                            <th scope="col">Petitioner Engineer</th>
                                            <th scope="col">Recognized Engineer</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Comments</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.RecognitionsAR)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.ID_Recognition)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Case_Number)</td>
                                                <td>@Html.DisplayFor(modelItem => item.PetitionerEngineer.Name_Engineer)  @Html.DisplayFor(modelItem => item.PetitionerEngineer.LastName_Engineer)</td>
                                                <td>@Html.DisplayFor(modelItem => item.RecognizedEngineer.Name_Engineer)  @Html.DisplayFor(modelItem => item.RecognizedEngineer.LastName_Engineer)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Recognition_State)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Comment)</td>
                                                <td>
                                                    @using (Html.BeginForm("Eliminar_Reconocimiento", "Main", FormMethod.Post, new { @class = "submit-delete", role = "form" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        <input asp-for="RecognitionsPOST.ID_Recognition" class="form-control hidden disabled" value="@item.ID_Recognition" />
                                                        <div class="navbar-nav align-items-center">
                                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                </table>
                                @Html.Pager(Model.RecognitionsAR, page => Url.Action("Reconocimientos", new
                                {
                                    page = page,
                                    result = result,
                                    modelE = modelE
                                }), new PagerOptions { LiElementClasses = new[] { "page-item" }, LinkClasses = new[] { "page-link" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/theme-assets/vendors/libs/jquery/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('.submit-approval').click(function (e) {
            e.preventDefault(); // Evita que el formulario se envíe automáticamente

            var form = $(this).closest('form');

            Swal.fire({
                title: 'Are you sure that you want to approve this recognition?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#79d4f7',
                cancelButtonColor: 'red',
                confirmButtonText: 'Yes, approve it',
                cancelButtonText: 'No, cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Envía el formulario más cercano al botón clickeado
                }
            });
        });
        $('.submit-rejection').click(function (e) {
            e.preventDefault(); // Evita que el formulario se envíe automáticamente

            var form = $(this).closest('form');

            Swal.fire({
                title: 'Are you sure that you want to reject this recognition?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#79d4f7',
                cancelButtonColor: 'red',
                confirmButtonText: 'Yes, reject it',
                cancelButtonText: 'No, cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Envía el formulario más cercano al botón clickeado
                }
            });
        });
        $('.submit-delete').click(function (e) {
            e.preventDefault(); // Evita que el formulario se envíe automáticamente

            var form = $(this).closest('form');

            Swal.fire({
                title: 'Are you sure that you want to delete this recognition?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#79d4f7',
                cancelButtonColor: 'red',
                confirmButtonText: 'Yes, delete it',
                cancelButtonText: 'No, cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Envía el formulario más cercano al botón clickeado
                }
            });
        });
    });
</script>