@model sistema_reconocimiento.Models.SubmitRecognitionViewModel

@{
    ViewData["Title"] = "Reconocer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int ID_Engineer = ViewBag.GetIdEngineer;
}
<div class="app-content content">
    <div class="card-body">
        <div class="col-md-6" style="float:none;margin:auto;">
            <div class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center navbar-nav align-items-center">
                    <h5>Complete the following information</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Agregar_Reconocimiento", "Main", FormMethod.Post, new { @class = "submit-recognition", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-name">Case number</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-name" class="input-group-text">
                                    <i class="fas fa-ticket"></i>
                                </span>
                                <input asp-for="Recognitions.Case_Number" type="text" class="form-control" placeholder="20023412220044" />
                                @Html.ValidationMessageFor(m => m.Recognitions.Case_Number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">
                                    Who would you like to recognize?
                                    <i class="bx bx-buildings"></i>
                                </label>
                                <select asp-for="Recognitions.Recognized_Eng" class="form-select" asp-items="ViewBag.ID_EngineerToRecognize"></select>
                                <input asp-for="Recognitions.Petitioner_Eng" class="form-control hidden disabled" value="@ID_Engineer" />
                                <input asp-for="Recognitions.Recognition_State" class="form-control txtPoints hidden disabled" value="Pending" />
                                <input asp-for="Recognitions.Evaluator_Admin" class="form-control txtPoints hidden disabled" value="10" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-email">Comments</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="fas fa-heart"></i></span>
                                <input asp-for="Recognitions.Comment" class="form-control" rows="3" />
                                @Html.ValidationMessageFor(m => m.Recognitions.Comment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br/>
                        <div class="navbar-nav align-items-center">
                            <button type="submit" class="btn btn-primary">Submit Recognition</button>
                        </div>
                     }
                </div>
            </div>
        </div>
    </div>
</div>