@model IEnumerable<sistema_reconocimiento.Models.Rewards>

@{
    ViewData["Title"] = "Recompensas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int points = ViewBag.GetPoints;
    int ID_Engineer = ViewBag.GetIdEngineer;
}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Recompensas</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Main" asp-action="Index"> Principal</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Recompensas
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Tables start -->
            <!-- Table head options start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a asp-controller="Main" asp-action="Agregar_recompensa" class="btn btn-danger"><i class="fas fa-plus"></i>Agregar Recompensa</a>

                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <!-- Search -->
                                        <div class="navbar-nav align-items-center">
                                            <div class="nav-item d-flex align-items-center">
                                                <i class="bx bx-search fs-4 lh-0"></i>
                                                <input type="text"
                                                       class="form-control border-0 shadow-none"
                                                       placeholder="Buscar"
                                                       aria-label="Buscar" />
                                            </div>
                                        </div>
                                        <!-- /Search -->
                                    </li>
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-default">
                                        <tr>
                                            <th scope="col">Numero de recompensa</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Descripción</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int contador = 1; // Variable para el contador
                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@contador</td>
                                                <td>@Html.DisplayFor(modelItem => item.Reward_Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Reward_Description)</td>
                                                <td>
                                                    <svg width="50" height="50">
                                                        <circle cx="25" cy="25" r="20" fill="#79d4f7" />
                                                        <text x="50%" y="50%" text-anchor="middle" fill="white" font-size="12px" dy=".3em">
                                                            @Html.DisplayFor(modelItem => item.Price)
                                                        </text>
                                                    </svg>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger" asp-controller="Main" asp-action="Editar_recompensa" asp-route-id="@item.ID_Reward"><i class="fas fa-pen"></i></a>
                                                    <a class="btn btn-danger" asp-controller="Main" asp-action="Eliminar_recompensa" asp-route-id="@item.ID_Reward" onclick="return confirm('¿Estás seguro de que quieres eliminar este elemento?');"><i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            contador++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var RenCreado = '@TempData["RenCreado"]';
        if (RenCreado === "True") {
            // Mostrar notificación de éxito
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr["success"]("Recompensa creada", "Recompensa");
        }
        var RenEliminada = '@TempData["RenEliminada"]';
        if (RenEliminada === "True") {
            // Mostrar notificación de éxito
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr["error"]("Recompensa eliminada", "Recompensa");
        }
        var RenM = '@TempData["RenM"]';
        if (RenM === "True") {
            // Mostrar notificación de éxito
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["info"]("Recompensa Modificada", "Recompensa");
        }
    </script>
}